<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.c_base.c_beam"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="org.c_base.c_beam.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.c_base.c_beam.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UserActivity"
            android:label="@string/title_activity_user"
            android:parentActivityName="org.c_base.c_beam.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.c_base.c_beam.MainActivity" />
        </activity>
        <activity
            android:name=".activity.EventActivity"
            android:label="@string/title_activity_event"
            android:parentActivityName="org.c_base.c_beam.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.c_base.c_beam.MainActivity" />
        </activity>
        <activity
            android:name=".activity.MissionActivity"
            android:label="@string/title_activity_mission"
            android:parentActivityName="org.c_base.c_beam.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.c_base.c_beam.MainActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="org.c_base.c_beam.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.c_base.c_beam.MainActivity" />
        </activity>

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="org.c_base.c_beam" />
            </intent-filter>
        </receiver>

        <service android:name="org.c_base.c_beam.GCMIntentService" />

        <receiver android:name="org.c_base.c_beam.C_beamAppWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/c_beam_appwidget_info" />
        </receiver>

        <activity android:name=".activity.AppWidgetConfigure" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.C_outActivity"
            android:label="@string/title_activity_c_out"
            android:parentActivityName="org.c_base.c_beam.MainActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="org.c_base.c_beam.C_outActivity"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.c_base.c_beam.MainActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WebActivity"
            android:label="@string/title_activity_web"
            android:parentActivityName="org.c_base.c_beam.MainActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="org.c_base.c_beam.WebActivity"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.ArtefactActivity"
            android:label="@string/title_activity_artefact_long"
            android:parentActivityName="org.c_base.c_beam.MainActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="org.c_base.c_beam.ArtefactActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.c_base.c_beam.MainActivity" />
        </activity>
        <activity
            android:name=".activity.C_PortalActivity"
            android:label="@string/title_activity_c_portal"
            android:parentActivityName="org.c_base.c_beam.MainActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="org.c_base.c_beam.C_portalActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.c_base.c_beam.MainActivity" />

        </activity>
        <activity
            android:name=".activity.BamActivity"
            android:label="@string/title_activity_bam"
            android:parentActivityName="org.c_base.c_beam.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.c_base.c_beam.MainActivity" />
        </activity>
        <!--
        <activity
            android:name="org.c_base.c_beam.activity.ViewPagerActivity"
            android:label="ViewPagerActivity"
            android:parentActivityName="org.c_base.c_beam.activity.ViewPagerActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="org.c_base.c_beam.activity.ViewPagerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.c_base.c_beam.activity.MainActivity" />
        </activity>
        -->
        <activity
            android:name=".activity.MapActivity"
            android:label="@string/title_activity_map"
            android:parentActivityName="org.c_base.c_beam.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.c_base.c_beam.MainActivity" />
        </activity>
    </application>

</manifest>