<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.c_base.c_beam">

    <application
        android:label="${cbeamNameDebug}" >
        <activity
            android:name="org.c_base.c_beam.activity.MainActivity"
            android:label="${cbeamNameDebug}" >
        </activity>
    </application>
</manifest>
